*{
    margin: 0;
    padding: 0;
}


.main{
    border: 2px solid black;
    width: 15rem;
    height: 19rem;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.first{
    margin-left: 10px;
}

.first input{
    border: none;
    border-bottom: 2px solid black;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: center;


}